body {
	padding-top: 150px; /* To offset the fixed-top navbar */
	/*background-image: url('graphics/tesla_model_s_black-wallpaper-1920x1080.jpg');*/
	background-color: #b5e1c9; /* Greenish */
}
.container {
	max-width: 960px;
	padding: 30px;
	border-radius: 10px;
	border: 5px solid black;
	margin: auto;
	background-color: #f4cbcf; /* Pinkish */
}
.page-title {
	padding: 0;
	text-align: center;
}
hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.header-section {
	padding: 0;
	text-align: center;
}
.between-sections {
	border-width: 5px;
	border-bottom: dashed;
	border-color: #777;
	padding: 0;
}
.inbetween-sections {
	border-width: 5px;
	border-bottom: dotted;
	border-color: #777;
}
ul {
	list-style: none;
}
.progress-text-success {
	color: black;
	font-weight: bold;
}
p.sum-text {
	text-align: right;
	font-weight: bold;
	padding-right: 0;
	margin-right: -10px;
}
	/* Modifying Bootstrap 3 */
.progress-summary {
	padding-top: 5px;
}
	/*---------------------*/
/* Table, section 2 */
th {
	text-align: center;
	background-color: #4682b4;
}
td {
	background-color: #b5cde1;
}
	td.sum {
		background-color: #e1c9b5;
	}
	td.sum-text {
		text-align: right;
		font-weight: bold;
	}
	td.number {
		text-align: center;
	}
/*-------------------------*/
.completed {
	padding: 0;
	margin: 5px;
}
footer {
	text-align: center;
	color: white;
	background-color: black;
}

nav {
	position: fixed; /*So it doesn't move with scroll */
	bottom: 40%; /*So it stops 40 % from the bottom of viewport */
	right: 10px; /* Offset from the right, has to account for scrollbar on page */
	width: 100px; /* Width of nav */
	border: 3px solid black; /*  */
	border-radius: 10%; /* Slightly curved edges */
	background-color: #e1d2c5;
}